<app-navbar></app-navbar>

<div class="container">
  <div class="col-sm-12">
    <div class="card mt-5 mx-auto shadow p-3 mb-5 bg-body rounded mb-5">
      <div class="card-body">
        <h5 class="card-title text-center fs-1">Register</h5>
        <form >
          <!--First Name-->
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name *</label>
            <input type="text" class="form-control" id="firstname">
          </div>

          <!--Last Name-->
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name *</label>
            <input type="text" class="form-control" id="lastname">
          </div>

          <!--Email-->
          <div class="mb-3">
            <label for="email" class="form-label">Email address *</label>
            <input type="email" class="form-control" id="email">
          </div>
          <!--Email confirmation-->
          <div class="mb-3">
            <label for="confirm-email" class="form-label">Retype Email address *</label>
            <input type="email" class="form-control" id="confirm-email">
          </div>

          <!--Password-->
          <div class="mb-3">
            <label for="password" class="form-label">Password *</label>
            <input type="password" class="form-control" id="password">
          </div>

          <!--Password Confirmation-->
          <div class="mb-3">
            <label for="confirm-password" class="form-label">Retype Password *</label>
            <input type="password" class="form-control" id="confirm-password">
          </div>

          <div class="col-md-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-send">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



