
<app-navbar></app-navbar>
<div class="container">
    <div class="col-sm-12">
        <div class="card mt-5 mx-auto shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <h5 class="card-title text-center fs-1">Login</h5>
                <form >
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email"
                        [formControl]="name">

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-send">Login</button>
                    </div>
                  <div class="col-md-12 account">
                    <a routerLink="/registration"> Create account</a>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer fixed-bottom">
    <app-footer></app-footer>
</div>

