<app-navbar></app-navbar>
<div class="cart">
  <div class="card m-5" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.ibb.co/JrSRZqD/logitech-mouse-2.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Logitech Mouse</h5>
          <p>In stock (2)</p>
          <p>Price: R1200</p>
          <div class="remove">
            <button class="btn btn-danger">Remove
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card m-5 summary">
    <div class="card-body">
      <h5 class="card-title">Cart Summary</h5>
      <h6 class="card-subtitle mb-2 text-muted">Total(1: item)</h6>
      <p>Total Price: R200</p>
      <div class="buy">
        <button class="btn btn-success">Continue to checkout</button>
      </div>
    </div>
  </div>
</div>

