<div class="d-flex justify-content-center collection">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card" style="width: 18rem;">
        <img src=" " class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <!--button to view all products--><!--
  <div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-secondary">View Products</button>
  </div>-->
</div>
