<div>
  <!--Collection title/header-->
  <div class="mt-4">
    <p class="collection__header text-center fs-1 fw-bold">Our <span class="collec__part">collection</span> </p>
  </div>
  <!--:TODO: Filter dropdown-->
  <div class="d-flex justify-content-start mx-5 mt-2">
    <p>Filter</p><span class="mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
  <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
  </svg></span>

  </div>
</div>
<!--Collection cards-->
<div class="row m-4 p-1">
  <div class="col-sm-4 mt-2">
    <div class="card">
      <img src="https://i.ibb.co/10qvmNG/graphics.png" class="card-img-top" alt="graphics_card" height="250px">
      <div class="card-body">
        <h5 class="card-title text-center">MSI Graphics Card</h5>
        <hr>
        <p class="card-text text-center">
          Gaming GeForce RTX 3080 Ti OC 12GB GDDR6X Gaming Graphics Card / 10240 Cuda Core / 384-bit Memory Interface / Boost Clock : 1785 MHz / 3x DisplayPort / 2x HDMI / 90YV0GU1.
        </p>
        <a type="button" class="btn">Add to Cart
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-2">
    <div class="card">
      <img src="https://i.ibb.co/9y2zQ9z/ddr4-ram.png" class="card-img-top" alt="ddr4-ram" height="250px">
      <div class="card-body">
        <h5 class="card-title text-center">HyperX DDR4 Ram</h5>
        <hr>
        <p class="card-text text-center">
          HyperX® FURY DDR4 provides a powerful performance boost for gaming, video editing, and rendering with speeds up to 3733MHz.
          This cost-effective upgrade is available.
        </p>
        <a type="button" class="btn">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-2">
    <div class="card">
      <img src="https://i.ibb.co/JrSRZqD/logitech-mouse-2.png" class="card-img-top" alt="logitech-mouse" height="250px">
      <div class="card-body">
        <h5 class="card-title text-center">Logitech Mouse</h5>
        <hr>
        <p class="card-text">
          Logitech G develops award-winning wireless and wired gaming mice.
          Constantly innovating from sensors to shape, find the right one for you.
          Consistency and comfort are critical.
        </p>
        <a type="button" class="btn">Add to cart</a>
      </div>
    </div>
  </div>

</div>
<div class="d-flex justify-content-center mb-4">
  <button class="btn-secondary">More Products</button>
</div>
