.store__name {
  font-size: 30px;
  font-family: 'Ephesis', cursive;
}
.ecommerce {
  color: #F15025;

}
.btn-login {
  color: white;
  border: 2px solid #f58f73;
  background: #fc7e5b;
  width: 95px;
  /*font-weight: bold;*/

}
.btn-cart {
  color: white;
  border: 2px solid #f58f73;
  background: #fc7e5b;
  width: 95px;
}
.btn-login:hover {
  background: #f16d49;
  
}
.btn-cart:hover {
  background: #f16d49;
}
.nav-link:hover {
  color: #F15025;
}
/* .bi:hover {
  color: #F15025;
} */

