<div class="highlight">
    <!--highlight title/header-->
    <div class="mt-5">
    <u><p class="highlight__header text-center fw-bold">High<span class="high__text">light</span></p></u> 
    </div>
  <div class="col-xs-12 d-flex justify-content-center">
  <!--  <div class="container">-->
      <div class="card mb-5 mt-4" style="width: 26rem;">
        <img src="https://cdn.mos.cms.futurecdn.net/QMa729pgead8uFrroav5f5.jpg" class="card-img-top" alt="..." width="100px" height="200px">
        <div class="card-body">
          <h5 class="card-title text-center">Apple MacBook Pro 13",(M1)</h5>
          <p class="card-text text-center">
            MacBook ProAll systems Pro.The Apple M1 chip gives the 13‐inch MacBook Pro speed and power beyond belief. 
            With up to 2.8x CPU performance. Up to 5x the graphics speed
          </p>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>
